<!-- Button trigger modal (부트스트랩 페이지에서 복붙한거임) -->
<button type="button" class="btn btn-primary btn-sm bookModals" book="{{strBook @this}}">정보</button>

<!-- Modal -->
<div class="modal fade" id="bookModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="bookTitle"></h1> <!--{{title}}있었는데 book.ejs에서 이미 .text(book.title)로 넣었기 때문에 빼버림-->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="bookContent"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>